openapi: 3.2.0
info:
  title: Dojo Terminals API
  version: '2026-02-27'
  description: '# Introduction


    The Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors.'
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Terminals
  description: 'Allows you to manage payments on the terminal.

    **Documentation**: Terminals'
paths:
  /terminals:
    get:
      tags:
      - Terminals
      parameters:
      - name: statuses
        description: A machine-readable value describing the state of the terminal. Terminals with any of the statuses provided in this parameter will be listed.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TerminalStatus'
        in: query
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/SoftwareHouseId'
      - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Terminal'
              example:
              - id: tm_sandbox_65c5fe8a104a1222b2d8b968
                properties:
                  tid: VCMPYC8SIP0
                status: Available
                updatedAt: '2024-02-09T10:29:30.213Z'
              - id: tm_sandbox_65c5fe8a104a1222b2d8b666
                properties:
                  tid: VCMPYC8SIP2
                status: Available
                updatedAt: '2024-02-09T10:30:30.213Z'
          description: A list of terminals.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
      operationId: Terminals_ListTerminals
      summary: Retrieve all terminals
      description: Allows you to retrieve details of all terminals.
  /terminals/{terminalId}:
    get:
      tags:
      - Terminals
      parameters:
      - example: tm_sandbox_65c5fe8a104a12xxxxxxxxxx
        name: terminalId
        description: The unique identifier for the terminal.
        schema:
          type: string
        in: path
        required: true
        x-position: 1
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/SoftwareHouseId'
      - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminal'
              example:
                id: tm_sandbox_65c5fe8a104a1222b2d8b968
                properties:
                  tid: VCMPYC8SIP0
                status: Available
                updatedAt: '2024-02-09T10:29:30.213Z'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
      operationId: Terminals_GetTerminal
      summary: Retrieve a terminal
      description: Retrieve a terminal by using its ID.
components:
  schemas:
    Error:
      description: An object containing information about an error that occurred as part of an API request.
      required:
      - code
      - title
      - type
      - status
      - traceId
      - errors
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        title:
          description: 'A short, human-readable summary of the error.

            '
          type: string
        type:
          description: 'A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) identifying the problem type.

            '
          type: string
        status:
          description: 'The [HTTP status code](#section/Introduction/HTTP-Responses).

            '
          type: integer
        detail:
          description: 'A human-readable message giving more details about the error. Not always present.

            '
          type: string
        traceId:
          description: 'The unique identifier of the failing request.

            '
          type: string
        errors:
          description: An object containing information about an error that occurred as part of an API request.
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    TerminalProperties:
      description: Properties related to the terminal.
      required:
      - tid
      type: object
      properties:
        tid:
          description: An 8-digit identifier printed on receipts.
          type: string
          example: '12345678'
    Terminal:
      title: Terminal
      description: The terminal object.
      required:
      - id
      - properties
      - status
      - updatedAt
      type: object
      properties:
        id:
          description: The unique identifier for the terminal.
          type: string
          example: tm_sandbox_amxm22C23
        properties:
          $ref: '#/components/schemas/TerminalProperties'
        status:
          $ref: '#/components/schemas/TerminalStatus'
        updatedAt:
          format: date-time
          description: The timestamp of the update date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.
          type: string
    ErrorCode:
      description: 'Machine-usable code describing an error.

        (INTERNAL_ERROR, TERMINAL_UNAVAILABLE, INVALID_REQUEST)'
      type: string
    TerminalStatus:
      title: TerminalStatus
      description: A machine-readable value describing the state of the terminal.
      enum:
      - Available
      - Offline
      - InUse
      type: string
  parameters:
    ResellerId:
      name: reseller-id
      description: This identifies the reseller of the EPOS. This may be the same as the `software-house-id` if they are also the seller.
      schema:
        type: string
      example: reseller1
      in: header
      required: false
    Version:
      name: version
      in: header
      required: true
      schema:
        type: string
        format: date
      example: '2026-02-27'
      description: The API version with format yyyy-mm-dd. The current version is `2026-02-27`.
    SoftwareHouseId:
      name: software-house-id
      description: This field shows the EPOS company whose software is generating the request. This value should not be configurable as it will remain the same for all customers using particular EPOS software.
      schema:
        type: string
      example: softwareHouse1
      in: header
      required: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
