openapi: 3.2.0
info:
  title: Dojo Refunds API
  version: '2026-02-27'
  description: '# Introduction


    The Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors.'
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Refunds
  description: 'Allows you to create a refund for a captured payment.


    **Documentation**: Refunds'
paths:
  /payment-intents/{paymentIntentId}/refunds:
    post:
      tags:
      - Refunds
      summary: Create a refund
      description: Creates a refund. Refund allows you to return a payment that has previously been created as long as there have been no incremental payments or payment attempts, including unsuccessful payment attempts. You can refund the full amount or a partial amount.
      operationId: Refunds_Create
      parameters:
      - $ref: '#/components/parameters/Version'
      - name: paymentIntentId
        in: path
        required: true
        description: 'The unique identifier of the payment intent.

          '
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: idempotencyKey
        x-originalName: idempotencyKey
        in: header
        required: true
        description: 'An idempotency key is used to recognize subsequent retries of the same request. How you generate the idempotency key is up to you. The key must be unique for each new refund processed on the payment intent.

          '
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 2
      requestBody:
        x-name: createRefundRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /payment-intents/refunds/{refundId}:
    get:
      tags:
      - Refunds
      operationId: PaymentIntents_GetRefundById
      parameters:
      - $ref: '#/components/parameters/Version'
      - name: refundId
        in: path
        required: true
        description: A unique identifier for the refund. It will be used to reference this refund in all operations. It is recommended to use a UUID.
        schema:
          type:
          - string
          - 'null'
          maxLength: 50
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      description: Retrieves the details of a refund that has previously been created.
      summary: Retrieve a refund
components:
  schemas:
    ProblemDetails:
      type: object
      description: Dojo follows the error response format proposed in [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807), also known as Problem Details for HTTP APIs.
      properties:
        type:
          type:
          - string
          - 'null'
          description: A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type.
        title:
          type:
          - string
          - 'null'
          description: A short, human-readable summary of the error.
        status:
          type:
          - integer
          - 'null'
          format: int32
          description: The [HTTP status code](#section/Introduction/HTTP-Responses).
        detail:
          type:
          - string
          - 'null'
          description: An optional, human-readable message giving more details about the error.
        instance:
          type:
          - string
          - 'null'
          description: The URI reference of the problem.
        extensions:
          type: object
          description: This field names any extension methods that have been configured to help handle errors handling functionality.
          additionalProperties: {}
    Refund:
      type: object
      additionalProperties: false
      properties:
        paymentIntentId:
          type:
          - string
          - 'null'
          description: 'The unique identifier of the payment intent.

            '
        refundId:
          type:
          - string
          - 'null'
          description: A unique identifier for the refund. It will be used to reference this refund in all operations. It is recommended to use a UUID.
        refundReason:
          type:
          - string
          - 'null'
          description: The reason for the refund.
        notes:
          type:
          - string
          - 'null'
          description: A description for the refund, if applicable.
      description: The refund response object.
      example:
        paymentIntentId: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
        refundId: rfnd_127usj
        refundReason: Demo refund
        notes: null
    CreateRefundRequest:
      description: The create refund request object.
      required:
      - amount
      type: object
      properties:
        amount:
          type: integer
          format: int64
          description: The refund amount.
        previousTransactionId:
          type:
          - string
          - 'null'
          maxLength: 100
          description: The unique identifier for the previous transaction.
        refundReason:
          description: The reason for the refund.
          maxLength: 1024
          type:
          - string
          - 'null'
        notes:
          description: A description for the refund, if applicable.
          maxLength: 4096
          type:
          - string
          - 'null'
      additionalProperties: false
      example:
        amount: 1000
        refundReason: Demo refund
  parameters:
    Version:
      name: version
      in: header
      required: true
      schema:
        type: string
        format: date
      example: '2026-02-27'
      description: The API version with format yyyy-mm-dd. The current version is `2026-02-27`.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
