openapi: 3.2.0
info:
  title: Dojo Capabilities API
  version: '2026-02-27'
  description: "# Introduction\n\nThe Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors. Additionally, it accepts and returns JSON in the HTTP body.\nFor information on the latest development progress, visit the [changelog](../changelog).\n\n## Base URLs\n\nUse the following base URL when making requests to the API:  https://api.dojo.tech/\n\n## Authentication\n\nThe Dojo API uses [Basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). You can generate API keys in the [Developer Portal](https://developer.dojo.tech).\nSecret keys for the test environment use the prefix `sk_sandbox_`. Production keys use the prefix `sk_prod_`.\n\nYou must include your secret API key in the header of all requests, for example:\n\n```curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n```\n\nAPI requests without authentication will fail.\n\n## Additional Required Headers\n\nThe following headers are required on Terminal and Terminal Sessions API requests, requests without them will fail.\n\n- `reseller-id` - Identifies the reseller who sells software on behalf of the EPOS company. This value will be unique and provided by Dojo to each reseller.\n- `software-house-id` - Identifies the EPOS company whose software is generating the request. This value shouldn't be configurable, as it will remain the same for all customers using particular EPOS software. This value will be provided by Dojo.\n\n## HTTP Responses\n\nThe API returns standard HTTP response codes [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6) on each request to indicate the success or otherwise of API requests. Summaries for each HTTP code are listed below:\n\n* `200 OK`—The request was successful.\n\n* `201 Created`—The request was successful, and a new resource was created as a result.\n\n* `204 No Content`—The request was successful, but there is no content to send.\n\n* `400 Bad Request`—Bad request, probably due to a syntax error.\n\n* `401 Unauthorized`—Authentication required.\n\n* `403 Forbidden`—The API key doesn't have permissions.\n\n* `404 Not Found`—The resource doesn't exist.\n\n* `405 Method Not Allowed`—The request method is known by the server but isn't supported by the target resource.\n\n* `409 Conflict`—The request couldn't be completed because it conflicted with another request or the server's configuration.\n\n* `500`, `502`, `503`, `504` `Server Errors`—An error occurred with our API.\n\n## Errors\n\nDojo follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807), also known as Problem Details for HTTP APIs. All errors are returned in the form of JSON.\n\n### Error Schema\n\nIn case of an error, the response object contains the following fields:\n\n* `errors` [object]—A human-readable explanation of errors.\n\n* `type` [string]—\nA URI reference RFC 3986 that identifies the problem type.\n\n* `title` [string]—A short, human-readable summary of the error.\n\n* `status` [integer]—The HTTP status code.\n\n* `detail` [string]—A human-readable message giving more details about the error. Not always present.\n\n* `traceId` [string]—The unique identifier of the failing request.\n\nThe following example shows a possible error response:\n\n```json\n{\n    \"errors\": {\n        \"Reference\": [\n            \"The Reference field is required.\"\n        ]\n    },\n    \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n    \"title\": \"One or more validation errors occurred.\",\n    \"status\": 400,\n    \"traceId\": \"00-a405f077df056a498323ffbcec05923f-aa63e6f4dbbc734a-01\",\n}\n```\n\n## Versioning\n\nDojo APIs use the yyyy-mm-dd API version-naming scheme. You have to pass the version as the `version` header in all API calls, for example:\n\n``` curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n  --header 'version: 2026-02-27' \\\n```\n\nWhen we make [breaking changes](../development-resources/versioning-overview#breaking-changes) to the API, we release new dated versions.\n\nThe current version is `2026-02-27`.\n\n## SDKs\nUse our PHP, .NET, and mobile [client libraries](/development-resources/sdk) to build your integration.\n\n## Code Samples\n\nGet help in building your integration with our [code samples](/development-resources/code-samples).\n"
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Capabilities
  description: Register your REST and WebSockets endpoints.
paths:
  /epos/integrations:
    get:
      tags:
      - Capabilities
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllIntegrationsResponse'
          description: All the registered integrations for this account
      summary: Get all registered integrations
  /epos/integrations/rest:
    get:
      tags:
      - Capabilities
      responses:
        '200':
          description: A list of registered REST integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestIntegrationResponse'
      summary: Get registered REST integrations
    put:
      tags:
      - Capabilities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestIntegrationRequest'
        required: true
      summary: Register a new REST integration
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestIntegrationResponse'
  /epos/integrations/ws:
    get:
      tags:
      - Capabilities
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsIntegrationResponse'
          description: Get all the WebSocket integrations registered to this account.
      summary: Get registered WebSocket integrations
    put:
      tags:
      - Capabilities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsIntegrationRequest'
        required: true
        description: Register a new WebSocket integration
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WsIntegrationResponse'
      summary: Register a new WebSocket integration
  /epos/integrations/dojo:
    get:
      tags:
      - Capabilities
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DojoManagedIntegrationResponse'
          description: All the dojo managed integrations registered for this account
components:
  schemas:
    RestBasicAuthResponse:
      title: Root Type for restAuth
      description: The basic authentication response details for REST adapters.
      type: object
      properties:
        username:
          type: string
      required:
      - username
      example:
        username: epos-1
    CapabilityName:
      type: string
      description: 'The name of a capability.

        (CancelOrderById, CreateOrder, ListAreas, GetOrderById, SearchTables, HandleEvent:payment_intent.created, HandleEvent:payment_intent.status_updated, SearchOrders, GetPartyById, DeletePartyById, SearchParties, UpdatePartyById, CreateParty, GetReservationById, SearchReservations, UpdateReservationById, DeleteReservationById, CreateReservation, RecordOrderPayment, CreateOrderLock, DeleteOrderLock, ExtendOrderLock, GetOrderBill)'
    RestAuthResponse:
      description: The authentication details for REST adapters.
      required:
      - authType
      type: object
      properties:
        authType:
          description: The authentication flow that Dojo will use to make requests against this REST integration.
          enum:
          - basic
          type: string
        basic:
          $ref: '#/components/schemas/RestBasicAuthResponse'
          description: The basic auth details, configured if authType == 'basic'
      example:
        authType: basic
        basic:
          username: epos-1
    RestIntegrationRequest:
      title: Root Type for restAdapter request
      description: REST request
      required:
      - capabilities
      - auth
      - url
      type: object
      properties:
        url:
          type: string
        capabilities:
          description: Send a REST request
          type: array
          items:
            $ref: '#/components/schemas/CapabilityRequest'
        auth:
          $ref: '#/components/schemas/RestAuthRequest'
      example:
        capabilities:
        - name: GetOrder
          version: 1.0.0
        - name: RecordPayment
          version: 1.0.0
        url: https://my-epos.com/orders
        auth:
          authType: basic
          basic:
            username: epos-1
            password: hunter2
    RestAuthRequest:
      description: The authentication details for REST adapters
      required:
      - authType
      type: object
      properties:
        authType:
          description: The authentication flow that Dojo will use to make requests against this REST integration
          enum:
          - basic
          type: string
        basic:
          $ref: '#/components/schemas/RestBasicAuthRequest'
          description: The basic auth details, configured if authType == 'basic'
      example:
        authType: basic
        basic:
          username: epos-1
          password: hunter2
    WsIntegrationRequest:
      title: Root Type for wsAdapter
      description: WebSockets request
      required:
      - capabilities
      type: object
      properties:
        capabilities:
          description: Send a WS request
          type: array
          items:
            $ref: '#/components/schemas/CapabilityRequest'
      example:
        capabilities:
        - name: GetOrder
          version: 1.0.0
        - name: RecordPayment
          version: 1.0.0
    AllIntegrationsResponse:
      description: All the integrations currently registered and active for this account.
      required:
      - restIntegrations
      - wsIntegrations
      type: object
      properties:
        wsIntegrations:
          description: All the WS integrations currently registered and active for this account.
          type: array
          items:
            $ref: '#/components/schemas/WsIntegrationResponse'
        restIntegrations:
          description: All the WS integrations currently registered and active for this account.
          type: array
          items:
            $ref: '#/components/schemas/RestIntegrationResponse'
        dojoManagedIntegrations:
          description: All the integrations managed by Dojo
          type: array
          items:
            $ref: '#/components/schemas/DojoManagedIntegrationResponse'
      example:
        wsIntegrations:
        - capabilities:
          - name: GetOrder
            version: 1.0.0
          - name: RecordOrderPayment
            version: 1.0.0
          createdAt: '2024-03-30T12:00:00Z'
        restIntegrations:
        - url: https://my-epos-backend.net/dojo/
          capabilities:
          - name: SearchOrders
            version: 1.0.0
          restAuth:
            authType: basic
            basic:
              username: epos-dojo-1
          createdAt: '2024-03-30T12:00:00Z'
    CapabilityResponse:
      title: Root Type for method
      description: Receive a capability response
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - name
      - version
      - updatedAt
      example:
        name: GetOrder
        version: 1.0.0
        updatedAt: '2024-03-30T12:00:00Z'
    RestIntegrationResponse:
      title: Root Type for restAdapter response
      description: REST response
      required:
      - capabilities
      - auth
      - url
      - createdAt
      type: object
      properties:
        url:
          type: string
        capabilities:
          description: Receive a response to a REST request
          type: array
          items:
            $ref: '#/components/schemas/CapabilityResponse'
        auth:
          $ref: '#/components/schemas/RestAuthResponse'
        createdAt:
          format: date-time
          type: string
      example:
        capabilities:
        - name: GetOrder
          version: 1.0.0
        - name: RecordPayment
          version: 1.0.0
        url: https://my-epos.com/orders
        auth:
          authType: basic
          basic:
            username: epos-1
        createdAt: '2024-03-30T12:00:00Z'
    WsIntegrationResponse:
      title: Root Type for wsAdapter
      description: WebSockets response
      required:
      - capabilities
      - createdAt
      type: object
      properties:
        capabilities:
          description: Receive a response to a WS request
          type: array
          items:
            $ref: '#/components/schemas/CapabilityResponse'
        createdAt:
          format: date-time
          type: string
      example:
        capabilities:
        - name: GetOrder
          version: 1.0.0
        - name: RecordPayment
          version: 1.0.0
        createdAt: '2024-03-30T12:00:00Z'
    DojoManagedIntegrationResponse:
      title: Root Type for dojoManagedIntegration
      description: ''
      required:
      - capabilities
      - createdAt
      type: object
      properties:
        capabilities:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/CapabilityResponse'
        createdAt:
          format: date-time
          type: string
      example:
        capabilities:
        - name: GetOrder
          version: v1
        - name: RecordPayment
          version: v1
        createdAt: '2024-03-30T12:00:00Z'
    CapabilityRequest:
      title: Root Type for method
      description: Send a request.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CapabilityName'
        version:
          type: string
      required:
      - name
      - version
      example:
        name: GetOrder
        version: 1.0.0
    RestBasicAuthRequest:
      title: Root Type for restAuth
      description: The basic authentication request details for REST adapters.
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      example:
        username: epos-1
        password: admin
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
