openapi: 3.2.0
info:
  title: Tap to Pay on iPhone API
  version: '2023-12-12'
  description: '# Introduction


    The Tap to Pay on iPhone API is RESTful, using HTTP response codes to convey status, including successful responses and errors.'
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Tap to Pay on iPhone
  description: Allows you to create a terminal secret value.
paths:
  /tap/apple-terminal/secret:
    post:
      tags:
      - Tap to Pay on iPhone
      summary: Create a terminal secret
      description: Creates a secret value that you'll use to initialize the SDK.
      operationId: CreateTerminalSecret
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTerminalSecretResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
      x-authorization-policies:
      - Access
      parameters:
      - in: header
        name: version
        schema:
          type: string
        required: true
        description: The API version with format yyyy-mm-dd. The current version is `2023-12-12`.
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          description: 'A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type.

            '
          type:
          - string
          - 'null'
        title:
          description: 'A short, human-readable summary of the error.

            '
          type:
          - string
          - 'null'
        status:
          description: 'The [HTTP status code](#section/Introduction/HTTP-Responses).

            '
          type:
          - integer
          - 'null'
          format: int32
        detail:
          description: 'A human-readable message giving more details about the error. Not always present.

            '
          type:
          - string
          - 'null'
          additionalProperties: {}
    CreateTerminalSecretResponse:
      title: CreateActivationSecretResponse
      type: object
      x-internal: true
      properties:
        secret:
          type: string
          description: Secret value to initialize the SDK.
          example: ts_prod_2dDKpmwtqzOq3qYYA9zU9wQEKoxHg-qRnu6AGpVxAAtoUpP2SGOaiq_A0JoPAr787Ae2k_4vjJDYQFDnIVZz3vK5qpNyY7vVmzM9i-s9dAY
        expirationDate:
          example: '2024-02-21T14:39:21.6050276Z'
          type: string
          format: date-time
          description: 'The expiry date of `secret` in the format `yyyy-mm-dd`.


            The timestamp and date of when the `secret` will be voided, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format. This occurs when you have not yet authenticated the SDK. The `secret` is short-lived and will expire after 6 hours.'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
