openapi: 3.2.0
info:
  title: Dojo Customers API
  version: '2026-02-27'
  description: "# Introduction\n\nThe Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors. Additionally, it accepts and returns JSON in the HTTP body.\nFor information on the latest development progress, visit the [changelog](../changelog).\n\n## Base URLs\n\nUse the following base URL when making requests to the API:  https://api.dojo.tech/\n\n## Authentication\n\nThe Dojo API uses [Basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). You can generate API keys in the [Developer Portal](https://developer.dojo.tech).\nSecret keys for the test environment use the prefix `sk_sandbox_`. Production keys use the prefix `sk_prod_`.\n\nYou must include your secret API key in the header of all requests, for example:\n\n```curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n```\n\nAPI requests without authentication will fail.\n\n## Additional Required Headers\n\nThe following headers are required on Terminal and Terminal Sessions API requests, requests without them will fail.\n\n- `reseller-id` - Identifies the reseller who sells software on behalf of the EPOS company. This value will be unique and provided by Dojo to each reseller.\n- `software-house-id` - Identifies the EPOS company whose software is generating the request. This value shouldn't be configurable, as it will remain the same for all customers using particular EPOS software. This value will be provided by Dojo.\n\n## HTTP Responses\n\nThe API returns standard HTTP response codes [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6) on each request to indicate the success or otherwise of API requests. Summaries for each HTTP code are listed below:\n\n* `200 OK`—The request was successful.\n\n* `201 Created`—The request was successful, and a new resource was created as a result.\n\n* `204 No Content`—The request was successful, but there is no content to send.\n\n* `400 Bad Request`—Bad request, probably due to a syntax error.\n\n* `401 Unauthorized`—Authentication required.\n\n* `403 Forbidden`—The API key doesn't have permissions.\n\n* `404 Not Found`—The resource doesn't exist.\n\n* `405 Method Not Allowed`—The request method is known by the server but isn't supported by the target resource.\n\n* `409 Conflict`—The request couldn't be completed because it conflicted with another request or the server's configuration.\n\n* `500`, `502`, `503`, `504` `Server Errors`—An error occurred with our API.\n\n## Errors\n\nDojo follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807), also known as Problem Details for HTTP APIs. All errors are returned in the form of JSON.\n\n### Error Schema\n\nIn case of an error, the response object contains the following fields:\n\n* `errors` [object]—A human-readable explanation of errors.\n\n* `type` [string]—\nA URI reference RFC 3986 that identifies the problem type.\n\n* `title` [string]—A short, human-readable summary of the error.\n\n* `status` [integer]—The HTTP status code.\n\n* `detail` [string]—A human-readable message giving more details about the error. Not always present.\n\n* `traceId` [string]—The unique identifier of the failing request.\n\nThe following example shows a possible error response:\n\n```json\n{\n    \"errors\": {\n        \"Reference\": [\n            \"The Reference field is required.\"\n        ]\n    },\n    \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n    \"title\": \"One or more validation errors occurred.\",\n    \"status\": 400,\n    \"traceId\": \"00-a405f077df056a498323ffbcec05923f-aa63e6f4dbbc734a-01\",\n}\n```\n\n## Versioning\n\nDojo APIs use the yyyy-mm-dd API version-naming scheme. You have to pass the version as the `version` header in all API calls, for example:\n\n``` curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n  --header 'version: 2026-02-27' \\\n```\n\nWhen we make [breaking changes](../development-resources/versioning-overview#breaking-changes) to the API, we release new dated versions.\n\nThe current version is `2026-02-27`.\n\n## SDKs\nUse our PHP, .NET, and mobile [client libraries](/development-resources/sdk) to build your integration.\n\n## Code Samples\n\nGet help in building your integration with our [code samples](/development-resources/code-samples).\n"
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Customers
  description: Allows to create and manage a customer of your business.
paths:
  /customers:
    post:
      tags:
      - Customers
      operationId: Customers_Create
      summary: Create a customer
      description: Creates a new customer.
      parameters:
      - $ref: '#/components/parameters/VersionCustomers'
      requestBody:
        x-name: obj
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            example:
              name: Alex
              emailAddress: alex@dojo.com
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFull'
              example:
                id: cust_sandbox_MJj8Flgfik25x47R4LFbxQ
                name: Alex
                emailAddress: alex@dojo.com
                createdAt: '2024-02-15T02:46:21.8232496Z'
                updatedAt: '2024-02-15T02:46:21.8232496Z'
                documentVersion: 0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/{customerId}:
    delete:
      tags:
      - Customers
      operationId: Customers_Delete
      summary: Delete a customer
      description: Deletes a customer.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 2
        example: cust_qNkU6yob0vOMxUlb2oynUw
        description: The unique identifier of the customer.
      - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      tags:
      - Customers
      operationId: Customers_Update
      summary: Update information about a customer
      description: Updates information about a customer.
      parameters:
      - name: customerId
        in: path
        required: true
        example: cs_qNkU6yob0vOMxUlb2oynUw
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        description: The unique identifier of the customer.
        x-position: 2
      - $ref: '#/components/parameters/VersionCustomers'
      requestBody:
        x-name: updateData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFull'
              example:
                id: cs_qNkU6yob0vOMxUlb2oynUw
                name: Alex
                emailAddress: alex@dojo.com
                phoneNumber: 078976534161
                documentVersion: 1
                createdAt: '2023-08-24T14:15:22Z'
                updatedAt: '2023-09-24T14:15:22Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    get:
      tags:
      - Customers
      operationId: Customers_Get
      summary: Retrieve a customer
      description: Retrieves the details of a customer.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        description: Unique identifiers for the customers you want to get information about, separated by commas.
      - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerFull'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/{customerId}/create-secret:
    post:
      tags:
      - Customers
      operationId: Customers_CreateCustomerSecret
      summary: Create a customer secret
      description: 'Creates a unique customer secret key valid within a scope of time. '
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 1
        example: cust_qNkU6yob0vOMxUlb2oynUw
        description: The unique identifier of the customer.
      - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSecret'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/public/{customerId}/payment-methods:
    get:
      tags:
      - Customers
      operationId: Customers_GetPaymentMethods
      summary: Retrieve payment method
      description: Retrieves available payment methods for a customer.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 1
        example: cust_qNkU6yob0vOMxUlb2oynUw
        description: The unique identifier of the customer.
      - $ref: '#/components/parameters/VersionCustomers'
      - name: authorization
        in: header
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 500
        x-position: 3
        example: 'Authorization: Basic cs_generated-customer-secret'
        description: 'Basic HTTP authentication to grant access to customer-owned resources.


          - The required customer secret key is short-lived and will expire after a pre-configured set of time.

          - The customer secret can be generated by calling [POST /customers/{`customerId`}/create-secret](#operation/Customers_CreateCustomerSecret)

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethods'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/public/{customerId}/payment-methods/{paymentMethodId}:
    delete:
      tags:
      - Customers
      operationId: Customers_DeletePaymentMethod
      summary: Remove payment method
      description: 'Delete a customer payment method.

        '
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 1
        example: cust_qNkU6yob0vOMxUlb2oynUw
        description: The unique identifier of the customer.
      - name: paymentMethodId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
        x-position: 2
        example: pm_otRL98WURbaAKs0sdy7_5w
        description: The unique identifier of the customer payment method.
      - $ref: '#/components/parameters/VersionCustomers'
      - name: authorization
        in: header
        required: true
        schema:
          type:
          - string
          - 'null'
          maxLength: 500
        x-position: 4
        example: 'Authorization: Basic cs_generated-customer-secret'
        description: 'Basic HTTP authentication to grant access to customer-owned resources.


          - The required customer secret key is short-lived and will expire after a pre-configured set of time.

          - The customer secret can be generated by calling [POST /customers/{`customerId`}/create-secret](#operation/Customers_CreateCustomerSecret)

          '
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/search:
    post:
      tags:
      - Customers
      operationId: Customers_Search
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfCustomer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      parameters:
      - $ref: '#/components/parameters/VersionCustomers'
      summary: List all customers
      description: 'Retrieves a list of customers.

        Results are paginated. By default, the method returns up to 50 customers.'
components:
  schemas:
    CreateCustomerRequest:
      type: object
      additionalProperties: false
      example:
        name: Alex
        emailAddress: alex@dojo.com
      properties:
        name:
          type:
          - string
          - 'null'
          maxLength: 100
          description: The customer's name.
        shippingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's shipping address.
        billingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's invoicing address.
        emailAddress:
          type:
          - string
          - 'null'
          maxLength: 254
          description: The customer's email address.
        phoneNumber:
          maxLength: 50
          minLength: 5
          type:
          - string
          - 'null'
          description: The customer's phone number.
        vatNumber:
          type:
          - string
          - 'null'
          maxLength: 50
          description: The customer's VAT number.
    SearchCustomerRequest:
      type: object
      additionalProperties: false
      description: 'A cursor for use in pagination. '
      properties:
        limit:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          example: 20
          default: 50
          description: The maximum number of results to be returned in a single page.
        before:
          type:
          - string
          - 'null'
          maxLength: 200
          description: A cursor for use in pagination for the previous page. `before` and `after` are mutually exclusive. Only one of these may be used.
        after:
          type:
          - string
          - 'null'
          maxLength: 200
          description: 'A cursor for use in pagination for the next page. `before` and `after` are mutually exclusive. Only one of these may be used.

            '
    CardDetails:
      type: object
      properties:
        pan:
          description: 'The masked primary account number (PAN) of the customer''s saved card.

            '
          type: string
        expiryDate:
          description: The expiry date of the card saved by the customer.
          type: string
        scheme:
          $ref: '#/components/schemas/CardScheme'
      additionalProperties: false
    WalletPaymentOption:
      type: string
      description: Wallet payment options (e.g., Apple Pay, Google Pay).
    ProblemDetails:
      type: object
      description: Dojo follows the error response format proposed in [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807), also known as Problem Details for HTTP APIs.
      properties:
        type:
          type:
          - string
          - 'null'
          description: A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type.
        title:
          type:
          - string
          - 'null'
          description: A short, human-readable summary of the error.
        status:
          type:
          - integer
          - 'null'
          format: int32
          description: The [HTTP status code](#section/Introduction/HTTP-Responses).
        detail:
          type:
          - string
          - 'null'
          description: An optional, human-readable message giving more details about the error.
        instance:
          type:
          - string
          - 'null'
          description: The URI reference of the problem.
        extensions:
          type: object
          description: This field names any extension methods that have been configured to help handle errors handling functionality.
          additionalProperties: {}
    UpdateCustomerRequest:
      type: object
      additionalProperties: false
      example:
        phoneNumber: 078976534161
      properties:
        name:
          type:
          - string
          - 'null'
          description: The customer's name.
        billingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's invoicing address.
        shippingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's shipping address.
        emailAddress:
          type:
          - string
          - 'null'
          description: The customer's email address.
        phoneNumber:
          type:
          - string
          - 'null'
          description: The customer's phone number.
        vatNumber:
          type:
          - string
          - 'null'
          description: The customer's VAT number.
    CustomerFull:
      type: object
      additionalProperties: false
      example:
        id: cs_qNkU6yob0vOMxUlb2oynUw
        name: Alex
        emailAddress: alex@dojo.com
        documentVersion: 0
        createdAt: '2023-08-24T14:15:22Z'
      properties:
        id:
          type:
          - string
          - 'null'
          description: The unique identifier of the customer.
        name:
          type:
          - string
          - 'null'
          description: The customer's name.
        shippingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's shipping address.
        billingAddress:
          oneOf:
          - $ref: '#/components/schemas/Address'
          description: The recipient's invoicing address.
        emailAddress:
          type:
          - string
          - 'null'
          description: The customer's email address.
        phoneNumber:
          type:
          - string
          - 'null'
          description: The customer's phone number.
        vatNumber:
          type:
          - string
          - 'null'
          description: The customer's VAT number.
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
          description: 'The creation date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.

            '
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp of the update date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.
        documentVersion:
          type: integer
          format: int32
          description: The version of the customer's data updated with every change.
    CardScheme:
      description: Supported card schemes (VISA, MASTERCARD, MAESTRO, DISCOVER, DCI, AMEX)
      type: string
    CustomerPaymentMethods:
      type: object
      additionalProperties: false
      properties:
        customerId:
          type:
          - string
          - 'null'
          description: The unique identifier of the customer.
        merchantId:
          type:
          - string
          - 'null'
          description: A unique identifier for the merchant. A single merchant can be associated with multiple terminals, point-of-sale machines, and waiters.
        savedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerPaymentMethod'
          description: List of the customer saved payment methods.
        supportedPaymentMethods:
          oneOf:
          - $ref: '#/components/schemas/SupportedPaymentMethods'
          description: Supported payment methods.
      example:
        customerId: cust_qNkU6yob0vOMxUlb2oy123
        merchantId: '123456789'
        savedPaymentMethods:
        - id: pm_12345
          cardDetails:
            pan: 52000000****0056
            expiryDate: '2024-12-31'
            scheme: MASTERCARD
        supportedPaymentMethods:
          cardSchemes:
          - VISA
          - MASTERCARD
          - MAESTRO
          - DISCOVER
          - DCI
          - AMEX
          wallets:
          - APPLE_PAY
          - GOOGLE_PAY
    CustomerSecret:
      type: object
      additionalProperties: false
      properties:
        secret:
          type:
          - string
          - 'null'
          description: The unique identifier for the secret.
        createdAt:
          type: string
          format: date-time
          description: 'The creation date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.

            '
        expireAt:
          type: string
          format: date-time
          description: 'The timestamp at which the customer secret expires, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.

            '
      example:
        secret: cs_qNkU6yob0vOMxUlb2oynUw
        createdAt: '2022-10-31T10:15:00Z'
        expireAt: '2022-10-31T10:30:22Z'
    SupportedPaymentMethods:
      type: object
      additionalProperties: false
      properties:
        cardSchemes:
          type:
          - array
          - 'null'
          description: Supported card schemes.
          items:
            $ref: '#/components/schemas/CardScheme'
        wallets:
          type:
          - array
          - 'null'
          description: List of supported payment wallets.
          items:
            $ref: '#/components/schemas/WalletPaymentOption'
    Address:
      type: object
      additionalProperties: false
      example:
        address1: The Brunel Building
        address2: 2 Canalside Walk
        city: London
        postcode: W2 1DG
        countryCode: GB
        county: UK
      description: Details about the address.
      properties:
        address1:
          type:
          - string
          - 'null'
          maxLength: 100
          description: Address line 1 (for example, company name).
        address2:
          type:
          - string
          - 'null'
          maxLength: 100
          description: Address line 2 (for example, street, apartment, or suite).
        address3:
          type:
          - string
          - 'null'
          maxLength: 100
          description: Address line 3.
        address4:
          type:
          - string
          - 'null'
          maxLength: 100
          description: Address line 4.
        city:
          type:
          - string
          - 'null'
          maxLength: 100
          description: City, town, district, suburb, or village.
          example: London
        state:
          type:
          - string
          - 'null'
          maxLength: 100
          description: State, province, or region.
        postcode:
          type:
          - string
          - 'null'
          maxLength: 50
          description: ZIP or postal code.
        countryCode:
          type: string
          maxLength: 10
          description: 'Two-letter country code in [ISO 3166–1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format.

            '
          example: GB
        locality:
          type:
          - string
          - 'null'
          maxLength: 100
          description: Locality, can use in addition to city.
        county:
          type:
          - string
          - 'null'
          maxLength: 100
          description: County or zone.
      required:
      - countryCode
    CustomerPaymentMethod:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The unique identifier of the customer's saved payment method.
        cardDetails:
          description: The card details saved by the customer.
          oneOf:
          - $ref: '#/components/schemas/CardDetails'
    PagedResultOfCustomer:
      type: object
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerFull'
          description: An array of customers.
        before:
          type:
          - string
          - 'null'
          example: IjIwMjItMDYtMjJUMTQ6MTc6MjYuMDkyWiI=
          description: A cursor for use in pagination for the previous page.
        after:
          type:
          - string
          - 'null'
          example: IjIwMjItMDYtMjBUMTM6MzI6MjIuNDM1WiI=
          description: A cursor for use in pagination for the next page.
  parameters:
    VersionCustomers:
      name: version
      in: header
      required: true
      schema:
        type:
        - string
        - 'null'
      example: '2026-02-27'
      description: The API version with format yyyy-mm-dd. The current version is `2026-02-27`.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
