openapi: 3.2.0
info:
  title: Dojo Events API
  version: '2026-02-27'
  description: '# Introduction


    The Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors.'
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Events
paths:
  /epos/events:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRequest'
        required: true
      tags:
      - Events
      summary: Submit an event
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRequest'
      operationId: postEposEvents
      x-operation-id-source: derived
components:
  schemas:
    OrderEvent:
      required:
      - orderId
      type: object
      properties:
        orderId:
          type: string
    PartyEvent:
      type: object
      properties:
        partyId:
          description: The EPOS-internal ID of the updated Party.
          type: string
      required:
      - partyId
    ReservationEvent:
      type: object
      properties:
        reservationId:
          description: The EPOS-internal ID of the updated Reservation.
          type: string
      required:
      - reservationId
    EventType:
      description: OrderUpdated, PartyUpdated, ReservationUpdated
      type: string
    EventRequest:
      description: ''
      required:
      - eventType
      - event
      type: object
      properties:
        eventType:
          $ref: '#/components/schemas/EventType'
        event:
          oneOf:
          - $ref: '#/components/schemas/OrderEvent'
          - $ref: '#/components/schemas/PartyEvent'
          - $ref: '#/components/schemas/ReservationEvent'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
