openapi: 3.2.0
info:
  title: Dojo Captures API
  version: '2026-02-27'
  description: '# Introduction


    The Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors.'
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Captures
  description: 'Allows you to capture the full payment amount or part of the amount.


    **Documentation**: Captures'
paths:
  /payment-intents/{paymentIntentId}/captures:
    post:
      tags:
      - Captures
      summary: Captures a payment
      description: Captures a payment intent that has previously been created but not yet refunded or reversed. You can capture the full amount or a partial amount.
      operationId: Captures_Create
      parameters:
      - name: version
        $ref: '#/components/parameters/Version'
      - name: paymentIntentId
        in: path
        required: true
        description: 'The unique identifier of the payment intent.

          '
        schema:
          type:
          - string
          - 'null'
        x-position: 1
        example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaptureRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    ProblemDetails:
      type: object
      description: Dojo follows the error response format proposed in [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807), also known as Problem Details for HTTP APIs.
      properties:
        type:
          type:
          - string
          - 'null'
          description: A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type.
        title:
          type:
          - string
          - 'null'
          description: A short, human-readable summary of the error.
        status:
          type:
          - integer
          - 'null'
          format: int32
          description: The [HTTP status code](#section/Introduction/HTTP-Responses).
        detail:
          type:
          - string
          - 'null'
          description: An optional, human-readable message giving more details about the error.
        instance:
          type:
          - string
          - 'null'
          description: The URI reference of the problem.
        extensions:
          type: object
          description: This field names any extension methods that have been configured to help handle errors handling functionality.
          additionalProperties: {}
    CreateCaptureRequest:
      description: The capture request object.
      required:
      - amount
      type: object
      example:
        amount: 2000
      properties:
        amount:
          type: integer
          format: int64
          example:
            amount: 2000
          description: The capture amount. You can capture a full or partial amount. Multiple partial captures can be made on the same total.
        tipsAmount:
          type:
          - integer
          - 'null'
          format: int64
          example:
            tipsAmount: 100
          description: The tip amount.
      additionalProperties: false
    Capture:
      type: object
      description: The capture response object.
      additionalProperties: false
      properties:
        message:
          type:
          - string
          - 'null'
          description: The description of the operation.
        captureId:
          type:
          - string
          - 'null'
          description: The unique identifier for the capture.
      example:
        message: Demo capture
        captureId: cp_itIiJMEAvES3ynYF_Yhs2g
  parameters:
    Version:
      name: version
      in: header
      required: true
      schema:
        type: string
        format: date
      example: '2026-02-27'
      description: The API version with format yyyy-mm-dd. The current version is `2026-02-27`.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
