openapi: 3.2.0
info:
  title: Dojo Terminals API
  version: '2026-02-27'
  description: "# Introduction\n\nThe Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors. Additionally, it accepts and returns JSON in the HTTP body.\nFor information on the latest development progress, visit the [changelog](../changelog).\n\n## Base URLs\n\nUse the following base URL when making requests to the API:  https://api.dojo.tech/\n\n## Authentication\n\nThe Dojo API uses [Basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). You can generate API keys in the [Developer Portal](https://developer.dojo.tech).\nSecret keys for the test environment use the prefix `sk_sandbox_`. Production keys use the prefix `sk_prod_`.\n\nYou must include your secret API key in the header of all requests, for example:\n\n```curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n```\n\nAPI requests without authentication will fail.\n\n## Additional Required Headers\n\nThe following headers are required on Terminal and Terminal Sessions API requests, requests without them will fail.\n\n- `reseller-id` - Identifies the reseller who sells software on behalf of the EPOS company. This value will be unique and provided by Dojo to each reseller.\n- `software-house-id` - Identifies the EPOS company whose software is generating the request. This value shouldn't be configurable, as it will remain the same for all customers using particular EPOS software. This value will be provided by Dojo.\n\n## HTTP Responses\n\nThe API returns standard HTTP response codes [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6) on each request to indicate the success or otherwise of API requests. Summaries for each HTTP code are listed below:\n\n* `200 OK`—The request was successful.\n\n* `201 Created`—The request was successful, and a new resource was created as a result.\n\n* `204 No Content`—The request was successful, but there is no content to send.\n\n* `400 Bad Request`—Bad request, probably due to a syntax error.\n\n* `401 Unauthorized`—Authentication required.\n\n* `403 Forbidden`—The API key doesn't have permissions.\n\n* `404 Not Found`—The resource doesn't exist.\n\n* `405 Method Not Allowed`—The request method is known by the server but isn't supported by the target resource.\n\n* `409 Conflict`—The request couldn't be completed because it conflicted with another request or the server's configuration.\n\n* `500`, `502`, `503`, `504` `Server Errors`—An error occurred with our API.\n\n## Errors\n\nDojo follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807), also known as Problem Details for HTTP APIs. All errors are returned in the form of JSON.\n\n### Error Schema\n\nIn case of an error, the response object contains the following fields:\n\n* `errors` [object]—A human-readable explanation of errors.\n\n* `type` [string]—\nA URI reference RFC 3986 that identifies the problem type.\n\n* `title` [string]—A short, human-readable summary of the error.\n\n* `status` [integer]—The HTTP status code.\n\n* `detail` [string]—A human-readable message giving more details about the error. Not always present.\n\n* `traceId` [string]—The unique identifier of the failing request.\n\nThe following example shows a possible error response:\n\n```json\n{\n    \"errors\": {\n        \"Reference\": [\n            \"The Reference field is required.\"\n        ]\n    },\n    \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n    \"title\": \"One or more validation errors occurred.\",\n    \"status\": 400,\n    \"traceId\": \"00-a405f077df056a498323ffbcec05923f-aa63e6f4dbbc734a-01\",\n}\n```\n\n## Versioning\n\nDojo APIs use the yyyy-mm-dd API version-naming scheme. You have to pass the version as the `version` header in all API calls, for example:\n\n``` curl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n  --header 'version: 2026-02-27' \\\n```\n\nWhen we make [breaking changes](../development-resources/versioning-overview#breaking-changes) to the API, we release new dated versions.\n\nThe current version is `2026-02-27`.\n\n## SDKs\nUse our PHP, .NET, and mobile [client libraries](/development-resources/sdk) to build your integration.\n\n## Code Samples\n\nGet help in building your integration with our [code samples](/development-resources/code-samples).\n"
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
- url: https://api.dojo.tech
security:
- ApiKeyAuth: []
tags:
- name: Terminals
  description: 'Allows you to manage payments on the terminal.

    **Documentation**: [Terminals](../payments/accept-payments/in-person-payments/pay-at-counter/terminals)'
paths:
  /terminals:
    get:
      tags:
      - Terminals
      parameters:
      - name: statuses
        description: A machine-readable value describing the state of the terminal. Terminals with any of the statuses provided in this parameter will be listed.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TerminalStatus'
        in: query
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/SoftwareHouseId'
      - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Terminal'
              example:
              - id: tm_sandbox_65c5fe8a104a1222b2d8b968
                properties:
                  tid: VCMPYC8SIP0
                status: Available
                updatedAt: '2024-02-09T10:29:30.213Z'
              - id: tm_sandbox_65c5fe8a104a1222b2d8b666
                properties:
                  tid: VCMPYC8SIP2
                status: Available
                updatedAt: '2024-02-09T10:30:30.213Z'
          description: A list of terminals.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
      operationId: Terminals_ListTerminals
      summary: Retrieve all terminals
      description: Allows you to retrieve details of all terminals.
  /terminals/{terminalId}:
    get:
      tags:
      - Terminals
      parameters:
      - example: tm_sandbox_65c5fe8a104a12xxxxxxxxxx
        name: terminalId
        description: The unique identifier for the terminal.
        schema:
          type: string
        in: path
        required: true
        x-position: 1
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/SoftwareHouseId'
      - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminal'
              example:
                id: tm_sandbox_65c5fe8a104a1222b2d8b968
                properties:
                  tid: VCMPYC8SIP0
                status: Available
                updatedAt: '2024-02-09T10:29:30.213Z'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
      operationId: Terminals_GetTerminal
      summary: Retrieve a terminal
      description: Retrieve a terminal by using its ID.
components:
  schemas:
    Terminal:
      title: Terminal
      description: The terminal object.
      required:
      - id
      - properties
      - status
      - updatedAt
      type: object
      properties:
        id:
          description: The unique identifier for the terminal.
          type: string
          example: tm_sandbox_amxm22C23
        properties:
          $ref: '#/components/schemas/TerminalProperties'
        status:
          $ref: '#/components/schemas/TerminalStatus'
        updatedAt:
          format: date-time
          description: The timestamp of the update date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.
          type: string
    Error:
      description: An object containing information about an error that occurred as part of an API request.
      required:
      - code
      - title
      - type
      - status
      - traceId
      - errors
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        title:
          description: 'A short, human-readable summary of the error.

            '
          type: string
        type:
          description: 'A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) identifying the problem type.

            '
          type: string
        status:
          description: 'The [HTTP status code](#section/Introduction/HTTP-Responses).

            '
          type: integer
        detail:
          description: 'A human-readable message giving more details about the error. Not always present.

            '
          type: string
        traceId:
          description: 'The unique identifier of the failing request.

            '
          type: string
        errors:
          description: An object containing information about an error that occurred as part of an API request.
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    ErrorCode:
      description: 'Machine-usable code describing an error.

        (INTERNAL_ERROR, TERMINAL_UNAVAILABLE, INVALID_REQUEST)'
      type: string
    TerminalProperties:
      description: Properties related to the terminal.
      required:
      - tid
      type: object
      properties:
        tid:
          description: An 8-digit identifier printed on receipts.
          type: string
          example: '12345678'
    TerminalStatus:
      title: TerminalStatus
      description: A machine-readable value describing the state of the terminal.
      enum:
      - Available
      - Offline
      - InUse
      type: string
  parameters:
    Version:
      name: version
      in: header
      required: true
      schema:
        type: string
        format: date
      example: '2026-02-27'
      description: The API version with format yyyy-mm-dd. The current version is `2026-02-27`.
    ResellerId:
      name: reseller-id
      description: This identifies the reseller of the EPOS. This may be the same as the `software-house-id` if they are also the seller.
      schema:
        type: string
      example: reseller1
      in: header
      required: false
    SoftwareHouseId:
      name: software-house-id
      description: This field shows the EPOS company whose software is generating the request. This value should not be configurable as it will remain the same for all customers using particular EPOS software.
      schema:
        type: string
      example: softwareHouse1
      in: header
      required: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Core payments
  tags:
  - Payment intents
  - Refunds
  - Reversal
  - Captures
  - Webhooks
  - Customers
  - Setup intents
- name: In-person payments
  tags:
  - Terminals
  - Terminal sessions
- name: Capabilities
  tags:
  - Capabilities
  - Events
